
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

html {
  margin: 0;
  padding: 0;
  background-color: #F8F7FF;
  font-family: 'Poppins', sans-serif;
  color: #3E2E7E;
}

body {
  margin: auto;
  width: 75%;
}

button {
  outline: none;
  background: none;
  border: none;
  font: inherit;
}

button:hover {
  cursor: pointer;
}

h1, h2, h3 {
  margin: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}